.carousel {
  text-align: center;
  width: 80%;
  margin-left: 10%;
  max-width: 1100px;
  margin-right: 10%;
}

.card {
  margin-top: 15px;
  margin-bottom: 20px;
  margin-left: 1.5%;
  display: inline-flex;
}

.cards-cards {
  text-align: center;
}
@media screen and (min-width: 1400px) {
  .carousel {
    margin-left: 20%;
  }
}
